
section{
    height: 60%;
  }
  section h1{
    padding: 30px;
    text-align: center;
  
  }

  .row{
    --bs-gutter-x: 0;
  }
  
  /* section article{
    width: 90%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  */
  section article p {
    height: 90%;
    padding: 20px;
    display: flex;
    align-items: center;
    font-size: x-large;
  } 
  .introduccion article img{
    margin: 20px 10px;
    width: 70% ;
  }
  
  .introduccion{
    background-color: #FFA732;
  }
  .sabores{
    background-color: #ffffff;
    margin: 20px;
  }
  .testimonio{
    background-color: #EF4040;
  }
  /* .sabores div{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
  } */
  
  /* .sabores figure {
    width: 40%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  
  }
  */
   .sabores figure img{
    width: 55%;
    border-radius: 10px;
    
  } 
  
  /* .testimonio .descripcion .texto {
    width: 90%;
    height: 40%;
   background-color: white;
  } */
  
  .testimonio .descripcion img{
  width: 70%;
  border-radius: 20px;
  }