
/* Navbar */
nav{
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    /* padding: 20px 20px; */
    background-color: #711DB0;
    color: white;
  }
  .offcanvas{
    
    background-color: #711DB0;
}
  nav h1{
    font-size: 50px;
  }
.nav-link{
  color: white  ;
font-size:25px;
}

.active{

color: rgb(130, 130, 130) !important;
padding: 15px;
}



/* card */
.cremolada{
  width: 100%;
}
.cremolada img{
  width: 90%;
  margin: 20px 10px;
}