
/* Navbar */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: #711DB0;
    color: white;
  }
  
nav .enlaces{
  display: flex;
  flex-direction: row;
  
}

nav .enlaces .active{
color: rgb(175, 175, 175);
}


nav  .logo{
  display: flex;
  align-items: center;
}

a{
  display: block;
padding: 10px;
  margin: 5px;
  color: white;
  text-decoration: none;
}


