
/* Navbar */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px;
  }
  
nav .enlaces{
  display: flex;
  flex-direction: row;
  
}

nav  .logo{
  display: flex;
  align-items: center;
}

a{
  display: block;
padding: 10px;
  margin: 5px;
}


