*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
}


section{
  height: 60vh;
}
section h1{
  padding: 30px;
  text-align: center;

}

section article{
  width: 90%;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
section article p {
  width: 40%;
  display: flex;
  align-items: center;
}
section article img{
  margin: 0 20px 10px 0;
  width: 30%;
  float: right;
}

.sabores{
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.sabores figure {
  width: 40%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

}
.sabores figure img{
  width: 50%;
}